<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href = "https://www.bing.com/search?q=suravi%202k25&qs=n&form=QBRE&sp=-1&lq=0&pq=suravi%202k25&sc=4-11&sk=&cvid=16A8CD7AF4C1423B8551ED44333A3F54&ghsh=0&ghacc=0&ghpl=" class = "c"><i class="fa-brands fa-square-facebook"></i></a>
        <a href = "https://www.bing.com/search?q=suravi%202k25&qs=n&form=QBRE&sp=-1&lq=0&pq=suravi%202k25&sc=4-11&sk=&cvid=16A8CD7AF4C1423B8551ED44333A3F54&ghsh=0&ghacc=0&ghpl=" class = "c"><i class="fa-brands fa-square-instagram"></i></a>
            <a href = "https://www.bing.com/search?q=suravi%202k25&qs=n&form=QBRE&sp=-1&lq=0&pq=suravi%202k25&sc=4-11&sk=&cvid=16A8CD7AF4C1423B8551ED44333A3F54&ghsh=0&ghacc=0&ghpl=" class = "c"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Secure Squad Private Limited</div>
        <div class="f-info-links">
            <a href = "https://premierscience.com/pjds-24-359/"  class = "c">
                privacy
            </a>
            <a href = "https://premierscience.com/pjds-24-359/" class = "c">
                terms
            </a>
        </div>
    </div>
</footer>