<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/security"><i class="fa-solid fa-shield-halved"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/security"><b class = "a">Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b class = "a">About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href = "/dashboard"><b class = "a">Dashboard</b></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
<%if(!currentUser){%>
  <a href = "/signup" class = "b">Signup</a>
<a href = "/login" class = "b">Login</a>
<%}%>
<%if(currentUser){%>
  <a href = "/logout" class = "b">Logout</a>
  <%}%>
</div>
    </div>
  </nav>