<% layout("/layouts/boilerplate.ejs") %>
<body>
<div class = "second">
    <a style = "text-decoration: none; color : white; position: relative; left : 10px; top: 5px;" href = "/dashboard">back</a>
<video class = "videob" loop muted autoplay = "autoplay">
    <source src = "<%=videoUrl%>">
</video>
</div>
</body>