<% layout("/layouts/boilerplate.ejs") %>
<body>
<div class = "first">
   <div id = "image">
   </div>
   <p id = "securetext">
    <b>Securing</b>
    <br>
    <b>your network</b>
   </p>
  
   <a href = "*"><button class = "btn btn-outline-primary"><b>Contact Us</b></button></a>
</div>
</body>